{% extends "base.html" %}

{% block page_title %}
Recipe Detail
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
{% for image in recipe.images.all %}
<img src="{{ image.image.url }}" alt="{{ image.description }}">
{% endfor %}
<p><strong>Author: {{ recipe.author.name }}</strong></p>
{% endif %}
<h2>{{ recipe.name }}</h2>
<ul>
    {% for ingredient in recipe.ingredients.all %}
    <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
    {% endfor %}
</ul>
<h3><a href="{% url 'ledger:recipe_image_create' pk=recipe.pk %}">Add Image</a></h3>
{% endblock %}