{% extends "base.html" %}

{% block page_title %}
Recipe Detail
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<p><strong>Author: {{ recipe.author.name }}</strong></p>
{% endif %}
<h2>{{ recipe.name }}</h2>
<ul>
    {% for ingredient in recipe.ingredients.all %}
    <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
    {% endfor %}
</ul>
<p><strong>Created on:</strong> {{ recipe.created_on }}</p>
<p><strong>Updated on:</strong> {{ recipe.updated_on }}</p>

{% endblock %}